body {
    background-color: #16161a;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: #72757e;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.navbar-btn {
    background-color: #72757e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s ease-in-out;
}

.navbar-btn:hover {
    transform: scale(1.05);
}

.navbar-btn:active {
    transform: scale(0.95);
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
}

.tab {
    background-color: #72757e;
    color: #fff;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
}

.tab.active {
    background-color: #fff;
    color: #16161a;
}

.editors-container {
    display: none;
    width: 100%;
}

.editors-container.active {
    display: block;
}

.editor, .editor-consola {
    background-color: #242629;
    border: 1px solid #72757e;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #fff;
    width: 1000px;
    height: 300px; /* Aumenta la altura de los editores */
}

textarea {
    background-color: transparent;
    border: none;
    color: #fff;
    width: 100%;
    height: 100%;
    resize: none;
}

textarea:focus {
    outline: none;
}

.footer {
    background-color: #242629;
    color: #72757e;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

.footer a {
    color: #72757e;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
